.container {
    display: flex;  /* ul is the flex container, make flexbox lays out the item from left to right.*/
    width: 100%;
}

.search {
    flex: 1;    /* To give navbar basic responsiveness, This results in the search item expanding and shrinking with the width of the container, meaning we won’t get the extra space in the right hand side. */
}


/* Display the account icon on the right top corner */
@media only screen and (min-width: 993px) {
    nav a.sidenav-trigger {
        display: flex;
    }
}

/* For the main video */
@media only screen and (max-width: 1000px) {
    #current-vid {
        width: 100%;
        height: 240px;
    }
}

/* For the main video */
@media only screen and (max-width: 500px) {
    #current-vid {
        width: 100%;
        height: 240px;
    }
}


/* let's make the logout item grow twice as much as the others*/
@media all and (max-width: 600px) {

    .container {
        flex-wrap: wrap;
    }

    .container > li {
        flex: 1 1 50%;
    }

    .search > input {
        text-align: center;
    }

}

@media all and (max-width: 400px) {
    .container > li {
      flex-basis: 1 1 100%;
    }
    .search {
      order: 1;
    }

   
}